@import '../../../../../sass/Constants.scss';

.audio-btn-select {
  padding: 0px $base * 2;
  min-width: $base * 40;
  height: $base * 15;
  font-size: $base * 5;
  font-weight: $fw-bold;
  text-transform: uppercase;
  border: none;
  border-radius: $base * 5;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  cursor: pointer;
  transition: all $transition-01 ease-out;

  &:hover {
    transform: translate(0.063rem, 0.063rem);
  }

  &:active {
    transform: translate($base, $base);
  }

  @media (max-width: $breakpoint-md-min) {
    min-width: $base * 20;
    font-size: $base * 4;
  }

  @media (max-width: $breakpoint-xs-min) {
    font-size: $base * 3;
  }
}
