/* main style */

:root {
  --color-pink: #e56c78;
  --color-black: #000;
  --color-white: #fff;
  --color-grey: #f3f4f8;
  --color-green: #4ccbb7;
  --color-yellow: #ffc53d;
  --color-light-blue: #9cd7f9;
  --color-blueviolet: #8a78fa;
  --color-blue: #5d7cfd;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  font-size: 14px;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  font-family: DynaPuff, cursive;
  background: var(--color-white);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  font-size: 100%;
  border: 0;
  outline: 0;
}

a {
  color: inherit;
  text-decoration: none;
  transition: color 0.7s;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main {
  flex-grow: 1;
  min-height: calc(100vh - 195px);
}

.container {
  max-width: 1420px;
  margin: 0 auto;
  padding: 0 10px;
}

/* main style end */

/* main */

.main-page__img {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 100%;
}

.main-page__block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 800px;
  margin: 0 auto;
  padding-top: 120px;
  text-align: center;
}

.main-page__subtitle {
  color: var(--color-pink);
  text-transform: uppercase;
}

.main-page__title {
  margin: 5px 0 20px;
  font-size: 80px;
}

.main-page__text {
  max-width: 500px;
  margin: 0 auto;
}

.main-page__text-link {
  color: var(--color-pink);
  transition: color 0.5s;
}

.main-page__text-link:hover {
  color: var(--color-black);
}

.main-page__button {
  width: 80px;
  margin: 20px auto 0;
  padding: 10px 15px;
  color: var(--color-white);
  background-color: var(--color-pink);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.5s;
}

.main-page__button:hover {
  background-color: var(--color-black);
}

/* end main */

/* dictionary */

.dictionary-block {
  padding-top: 30px;
  font-weight: bold;
}

.dictionary-block-title {
  font-size: 20px;
  text-transform: uppercase;
  cursor: pointer;
  transition: color 0.5s;
}

.dictionary-block-title:hover {
  color: var(--color-pink);
}

.dictionary-lvl__title,
.dictionary-words__title {
  margin-bottom: 20px;
  font-size: 16px;
}

.dictionary-block-title__dev {
  margin: 0 10px;
  font-weight: 600;
  font-size: 32px;
}

.dictionary-lvls__wrapper {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin: 0 auto 20px;
}

.dictionary-words__wrapper {
  display: grid;
  grid-row-gap: 35px;
  grid-column-gap: 37px;
  grid-template-rows: repeat(4, 440px);
  grid-template-columns: repeat(5, 250px);
}

/* pagination */

.pagination {
  display: flex;
  justify-content: center;
  margin: 40px 0;
}

.pagination-ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.pagination-ul li + li {
  margin-left: 15px;
}

.pagination-btn {
  font-size: 26px;
  background-color: transparent;
  border: none;
}

.pagination-first__btn,
.pagination-last__btn {
  padding: 6px 10px;
}

.pagination-prev__btn,
.pagination-next__btn {
  padding: 6px 16px;
}

.pagination-first__btn,
.pagination-prev__btn,
.pagination-next__btn,
.pagination-last__btn {
  background-color: var(--color-pink);
  border-radius: 50%;
  box-shadow: 1px 1px 15px 0 rgb(0 0 0 / 20%);
  cursor: pointer;
  transition: background-color 0.5s;
}

.pagination-first__btn:hover,
.pagination-prev__btn:hover,
.pagination-next__btn:hover,
.pagination-last__btn:hover {
  background-color: var(--color-grey);
}

/* pagination end */

/* dictionary end */

/* modal */

/* end modal */
