.aboutUs-container {
  min-height: calc(100vh - 180px);
}

.title {
  margin: 40px 0;
  font-size: 2.5rem;
  text-align: center;
}

.team {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .member {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30%;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
    transition: 0.3s;

    &:hover {
      box-shadow: 0 8px 16px 0 rgb(0 0 0 / 20%);
    }

    &_img {
      width: 200px;
      height: 200px;
      margin-bottom: 20px;
      border-radius: 100px;
    }

    &_info {
      display: flex;
      flex-direction: column;
      gap: 10px;
      align-items: center;
      justify-content: center;
      font-size: 1.3rem;

      &_name {
        font-size: 1.5rem;
      }

      &_link {
        display: flex;
        gap: 5px;
        align-items: center;
        color: #e56c78;

        &:hover {
          text-decoration: underline;
          cursor: pointer;
        }

        .image {
          width: 30px;
          height: 30px;
        }
      }
    }
  }
}
