.pagination {
  display: flex;
  justify-content: center;
  margin: 40px 0;
}

.pagination-ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.pagination-ul li + li {
  margin-left: 15px;
}

.pagination-btn {
  font-size: 26px;
  background-color: transparent;
  border: none;
}

.pagination-first__btn,
.pagination-last__btn {
  padding: 6px 10px;
}

.pagination-prev__btn,
.pagination-next__btn {
  padding: 6px 16px;
}

.pagination-first__btn,
.pagination-prev__btn,
.pagination-next__btn,
.pagination-last__btn {
  background-color: var(--color-pink);
  border-radius: 50%;
  box-shadow: 1px 1px 15px 0 rgb(0 0 0 / 20%);
  cursor: pointer;
  transition: background-color 0.5s;
}

.pagination-first__btn:hover,
.pagination-prev__btn:hover,
.pagination-next__btn:hover,
.pagination-last__btn:hover {
  background-color: var(--color-grey);
}
